body{
    margin: 0;
    background: radial-gradient(circle, #1a0015, #000000);
    overflow: hidden;
    height: 100vh;
}

.title{
    position: absolute;
    top: 20px;
    width: 100%;
    text-align: center;
    color: white;
    font-family: Arial;
    letter-spacing: 3px;
}

.word{
    position: absolute;
    color: #ff8fcf;
    font-size: 12px;
    text-shadow: nowrap;
    font-family: Arial;
    font-size: clamp(10px, 1.5vw, 18px);
    text-shadow: 0 0 5px #ff8fcf, 0 0 10px #ff8fcf, 0 0 20px #ff4db8;
}